
#if ( $success )

	#if ( $data.getMessage() )
		#info( $data.getMessage() )
	#end

#else

	<script language="javascript">
	    function setFocus() {
	        document.update.old_password.focus();
	    }
	</script>


	#if ( $data.getMessage() )
		$data.getMessage()
	#end

	    <div align="center">
        <form name="update" method="post" action="$link.setAction("UpdatePassword").setPage("user,Password.vm")">
          <table cellspacing="0" cellpadding="2">
            <tr>
              #formCell( "Old Password: " "old_password" "" )
            </tr>
            <tr>
              #formPasswordCell("New Password: " "password" "" )
            </tr>
            <tr>
              <td colspan="2" align="center">
                    <input type="submit" name="eventSubmit_doUpdate" value="Update Password"/>
              </td>
            </tr>
          </table>
        </form>
    	</div>

#end
