
<div class="w3-container w3-padding">

<form 
    name="passwordUpdateForm" 
    method="post" 
    action="$link.setPage("config,Password.vm").setAction("PasswordReset")">

    <h3>Update your password, you will have to use the new password on your next login.</h3>

    <table border=0>
        <tr>
            <td> New Password: </td>
            <td> <input type="password" size="10" name="newPassword" value=""/> </td>
        </tr>
        <tr>
            <td> Confirm Password: </td>
            <td> <input type="password" size="10" name="confirmNewPassword" value=""/> </td>
        </tr>
    </table>

    <input type="submit" name="eventSubmit_doChange" value="Change Password"/>

</form>
</div>
